<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
      <%= content_for?(:title) ? yield(:title) : t('site_name') %>
    </title>

    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <link href='http://fonts.googleapis.com/earlyaccess/droidarabickufi.css' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css' rel='stylesheet' type='text/css'>

  </head>

  <body class="font-droid-naskh">

    <div class="row">
      <div class="large-4 columns">
        <h1 class="font-droid-kufi text-right">
          <a href="/" class="black-text disabled"><%= t('site_name') %></a>
        </h1>
      </div>
      <div class="large-8 columns">
        <ul class="top-login-menu left">
          <% if current_user %>
          <li>
            <%= link_to image_tag("#{current_user.image}", width: "24", height: "24", alt: "#{current_user.name}"), "/u/#{current_user.uid}" %>
          </li>
          <li>
            <%= link_to t('sign_out'), signout_path, id: "sign_out" %>
          </li>
          <% else %>
          <li>
            <%= link_to t('sign_in'), "/auth/facebook", id: "sign_in" %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <br/>
      </div>
    </div>  

    <div class="row">
      <div class="small-12 columns">
        <%= yield %> 
      </div>
    </div>  

    <div class="row">
      <div class="large-12 columns">
        <hr/>
      </div>
    </div> 

    <div class="row">
      <div class="large-12 columns">
        <p class="font-droid-small muted text-center"><%= t('about_khatma') %></p>
      </div>
    </div>    
    
  </body>
</html>